.committers-repartition-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 8px;

    .repartition-row {
        display: flex;
        align-items: center;

        span {
            flex: 1;
        }

        p-progressBar {
            flex: 2;
        }
    }
}
