.repository-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
