.svg-design {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  height: 300px;
  z-index: -1;
}

.header-container {
  z-index: 2;
  padding: 48px 0px 20px;
  max-width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;

  .back-link {
    color: var(--text-color);
    cursor: pointer;
  }

  .header {
    margin-bottom: 48px;
  }

  .title {
    color: var(--text-color);
    margin-top: 0;

    &.color-inherit {
      color: inherit;
    }
  }

  .subtitle {
    display: flex;
    align-items: baseline;
    color: var(--text-color);
    font-size: 17px;
    margin-top: 15px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .header-container {
    padding: 48px 24px 20px;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 24px 24px;
    flex-direction: column;

    .header {
      margin-bottom: 0;
    }
  }
}
