<div class="repository-container">
  <wmd-github-repository-card [repository]="repository" [static]="true"></wmd-github-repository-card>
</div>

<div class="main-container">
  <div class="paragraph-container">
    <h3>{{'wiremindApp.repository.detail.committers.title' | translate}}</h3>
    <span>{{'wiremindApp.repository.detail.committers.description' | translate}}</span>

    <div class="contributors-container">
      <wmd-contributors-card *ngIf="committers.length > 0" [committers]="committers"></wmd-contributors-card>
      <wmd-commits-repartition-card [commits]="commits"></wmd-commits-repartition-card>
    </div>
  </div>

  <div class="paragraph-container">
    <h3>{{'wiremindApp.repository.detail.commits.title' | translate}}</h3>
    <span>{{'wiremindApp.repository.detail.commits.description' | translate}}</span>

    <div class="commits-container">
      <wmd-commits-timeline [commits]="commits"></wmd-commits-timeline>
    </div>
  </div>
</div>
