<form class="search-form" [formGroup]="searchForm">
  <wmd-autocomplete
    [searchForm]="searchForm"
    searchFormControlName="search"
    [searchFormPlaceholder]="'wiremindApp.searchProject.search.placeholder' | translate"
    (onSearch)="onSearch($event)"
  ></wmd-autocomplete>
</form>

<ng-container *ngIf="obs$ | loading | async as obs">
  <ng-template [ngIf]="obs?.value?.items">
    <div class="projects-container">
      <wmd-github-repository-card
        *ngFor="let repo of obs.value.items"
        [repository]="repo"
        (onCardClick)="onCardClick($event)"
      ></wmd-github-repository-card>
    </div>
  </ng-template>

  <ng-template [ngIf]="obs?.loading">
    <div class="loading-spinner-container">
      <wmd-loading-spinner></wmd-loading-spinner>
    </div>
  </ng-template>
</ng-container>
