.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;

  & > * {
    width: 100%;
  }
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 100px;
}

.results-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  padding: 48px 0;

  .results {
    font-weight: bold;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;

    & > * {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .search-form {
    padding: 0 24px;
  }
  .results-container {
    padding: 40px 24px;
  }
}
