/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #3a586e;
    --primary-color-light: rgba(58, 88, 110, 0.2);
    --text-color: #ffffff;
    --secondary-color: #ec766e;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body,
html {
    font-family: Montserrat, helvetica, sans-serif;
}

.card-container {
    padding: 24px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);

    .title {
        font-weight: bold;
        font-size: 16px;
    }
}
