/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #3a586e;
  --primary-color-light: rgba(58, 88, 110, 0.2);
  --text-color: #ffffff;
  --secondary-color: #ec766e;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
html {
  font-family: Montserrat, helvetica, sans-serif;
}
